/*Haeder*/
header{
  display: flex;
  justify-content: space-between;
  font-family: 'Geist Mono', monospace;
  align-items: center;
  padding: 10px 4rem;
}

.name{
    font-family: 'Michroma', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  font-family: 'Geist Mono', monospace;
}

.openToWork-tag{
    display: inline-flex;
    width: 169px;
    border: 2px solid #ffffff10;
    background-color: #27AE6012;
    text-align: center;
    border-radius: 28px;
    height: 41px;
    justify-content: center;
    align-items: center;
    
}

.openToWork-tag span{
    background-color: #27AE60;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

/*Hero*/

.hero-section{
  position: relative;
  overflow: hidden;
  padding-top: 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  width: 600px;
  height: 800px;
  transform: translateY(-50%);
  background: radial-gradient(
    circle,
    rgba(255, 166, 0, 0.260) 0%,
    rgba(255, 166, 0, 0.213) 30%,
    rgba(255, 166, 0, 0.213) 30%,
    rgba(255, 166, 0, 0) 70%
  );
  filter: blur(60px);
  z-index: 0;
  pointer-events: none;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
  background: radial-gradient(
    circle,
     rgba(190, 170, 255, 0.35) 0%,
    rgba(190, 170, 255, 0.324) 30%,
    rgba(190, 170, 255, 0.324) 30%,
    rgba(190, 170, 255, 0) 70%
  );
  filter: blur(60px);
  z-index: 0;
  pointer-events: none;
  
}



.hero-image{
    display: block;
    margin: auto;
    width: 401px;
    height: 468.34px;
}

.hero-section h2{
    margin: auto;
    font-family: 'Michroma', sans-serif;
    width: 673px;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-top: -40px;
    text-align: center;
}

.hero-section p{
    margin: auto;
    width: 673px;
    font-size: 16px;
    font-family: 'Geist Mono', monospace;
    line-height: 20px;
    letter-spacing: -0.2px;
    opacity: 70%;
    margin-top: 20px;
    text-align: center;
}

.button-container{
  display: flex;
  margin: auto;
  width: 378px;
  gap: 20px;
  margin-top: 30px;
}

.btn{
  background-color: #907CFA;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  transform: skewX(-10deg);
  z-index: 1;
  width: 185px;
  font-family: 'Geist Mono', monospace;
   
}

.btn:nth-child(2){
  background-color: #3E3F46;
}

.btn span{
  display: inline-block;
  transform: skewX(10deg);
}

.btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  border-right: 1px solid #907CFA;
  border-bottom: 1px solid #907CFA;
  transform: translate(6px, 6px);
  z-index: -1;
}

.btn:nth-child(2)::after{
  border-right: 1px solid #3E3F46;
  border-bottom: 1px solid #3E3F46;
}

/*About*/

.about-container{
  position: relative;
  display: flex;
  width: 897px;
  margin: auto;
  gap: 32px;

}

.about-me p{
  font-family: 'Geist Mono',sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  width: 532px;
  margin:40px 0;

}

.about-container .button-container{
 margin: 0;
}

.about-image-container{
  position: relative;
  width: 302px;
  height: 302px;
  background-color: #37334a;
  transform: skewX(-10deg);
  z-index: 1;
  
 
}

.about-image-container::after{
  content: " ";
  position: absolute;
  inset: 0;
  background: transparent;
  transform: translate(6px, -6px);
  border-right: 1px solid #907CFA;
  border-top: 1px solid #907CFA;
  z-index: -1;

}

.about-image{
  width: 288.47px;
  height: 267px;
  position: absolute;
  bottom: 0;
  transform: skewX(10deg);
}

.shape1{
  position: absolute;
  top :66%;
  right: -1.5%;
  z-index: 2;
}

/*Skills*/

.skills-section {
  position: relative;
  overflow: hidden;
}

.skills-bg {
 position: absolute;
  inset: 0; 
  display: flex;
  align-items: center;   
  justify-content: flex-start; 
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  margin-top: 20px;
  
}

.skills-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  will-change: transform;
  


}

.skill-icon {
  flex-shrink: 0;
  width: 80px;
  margin-right: 4rem;
}



@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}



.skills-cards{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content:space-between;
  margin-top: 30px;
  gap: 20px;
}

.shape2{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) skewX(-30deg);
  
}

.skills-card{
  width: 485px;
  border: 1px solid #FFFFFF40;
  padding: 15px;
  background-color: #2b2942ad;
  transform: skewX(-10deg);
}

.skill-card-header{
  position: relative;
  width:fit-content;
  font-family: 'Geist Mono', monospace;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  background-color: #FFFFFF3D ;
  text-align: center;
  padding: 12px 20px;
  margin-bottom: 20px;
  z-index: 1;
 
}

.skill-card-header::after{
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  transform: translate(6px, 6px);
  border-bottom: 1px solid #FFFFFF3D;
  border-right: 1px solid #FFFFFF3D;
  z-index: -1;
}

.skill-card-header span{
  display: inline-block;
  transform: skewX(10deg);
}

.skills-card ul{
  transform: skewX(10deg);
  margin-left: 15px;
}

.skills-card li{
  font-family: 'Geist Mono', monospace;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  list-style: none;
  opacity: 70%;
 
}

li span{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #c6c6c681;
  margin-right: 10px;
  
  
}



/*Projects*/

.header-section{
  display: flex;
  justify-content: space-between;
}

.header-section h2{
  text-shadow: 0px 3px 0 #3E3F46;
 
}

.header-section p{
  width: 432px;
  font-family: 'Geist Mono',sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  opacity: 70%;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 289px));
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 40px;
}

.project-card{
  position: relative;
  height: 318px;
  padding: 5px 10px; 
  

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

}



.project-card-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  
}

.overlay{
  position: absolute;
  inset: 0;
  background-color: #2b2942c6;
  z-index: -1;
}

.project-image{
  display: block;
  width: 100%;
  height: 161px;
  margin: auto;
  margin-top: 50px;
}

.project-title{
  width: 100%;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #FFFFFF3D;
  background-color: #FFFFFF3D;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Geist Mono', sans-serif;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 400;
  transition: color 0.3s ease;
  
}





/*Services*/

.services-section {
  position: relative;
  padding: 3rem 0 0 0 ;
 
  
}

#services-container{
  width: 100%;
}

.services-bg{
  position:absolute;
  inset: 0; 
  overflow: hidden;
  z-index: 0;
  top: 55%
}
.service-track{
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  will-change: transform;
  gap: 30px;
}

.service-bg-item-container{
  display: flex;
  width: max-content;
  align-items: center;
}

.service-bg-text{
  font-family: 'Michroma',sans-serif;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -2px;
}

.service-bg-icon{
  margin-left: 20px;
  width: 49px;
  height: 61px;
}


.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 40px;
  
}

.services-header{
  width: 897px;
  margin: auto;
}

.services-title {

  display: flex;
  font-size: 16px;
  font-family: 'Geist Mono', sans-serif;
  line-height: 26px;
  letter-spacing: -0.36px;
  font-weight: 600;
  width: 186px;
  height: 56px;
  align-items: center;
  justify-content: center;
  transform: skewX(-10deg);
  background-color: #3E3F46;
  z-index: 1;
}

.services-title::after{
  position: absolute;
  content: '';
  inset: 0;
  background-color: transparent;
  transform: translate(6px, 6px);
  border-right: 1px solid #3E3F46;
  border-bottom: 1px solid #3E3F46;
  z-index: -1;  
}

.services-title span{
  transform: skewX(10deg);
}

.services-description{
  font-family: 'Michroma',sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2px;
  border-bottom: 1px solid #3E3F46;
  padding: 16px 0;
}

.service-card {
  position: relative;
  justify-self: center;
  width: min(500px, 90%);
  padding: 1rem;
  background: #2b2942ad;
  color: #fff;
  border: 1px solid #3E3F46;
  margin-top: 70px;
}

.service-icon{
  width: 65px;
  height: 37px;
  display: flex;
  font-size: 16px;
  font-family: 'Geist Mono', sans-serif;
  line-height: 26px;
  letter-spacing: -0.36px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transform: skewX(-10deg);
  background-color: #3E3F46;
  z-index: 1;
  margin-bottom: 20px;
  
}

.service-icon::after{
  position: absolute;
  content: '';
  inset: 0;
  background-color: transparent;
  transform: translate(4px, 4px);
  border-right: 1px solid #3E3F46;
  border-bottom: 1px solid #3E3F46;
  z-index: -1;  
}

.service-card li{
  list-style: none;
  font-size: 14px;
  font-family: 'Geist Mono', sans-serif;
  letter-spacing: 0px;
  display: inline-flex;
  align-items: first baseline;
}

.service-card-title{
  margin-top: 30px;
  text-align: center;
  border: 1px solid #FFFFFF3D;
  background-color: #3E3F46;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Geist Mono', sans-serif;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 400;
}

/*contact*/

.contact-text{
  width: 666px;
  font-family: 'Michroma',sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2px;
  margin: auto;
  margin-top: 50px;
}

/*Footer*/

body{
  position: relative;
  
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  bottom: 1%; 
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 310px;
   border-radius: 300px 300px 0 0px;
  background:
    
    radial-gradient(
      circle,
      rgba(255,255,255,0.4) 0%,
      rgba(255,255,255,0.25) 35%,
      rgba(255,255,255,0.1) 55%,
      transparent 70%
    ),
    
    linear-gradient(
      90deg,
      rgba(255, 166, 0, 0.374) 0%,
      rgba(255, 166, 0, 0.272) 48%,
      rgba(190, 170, 255, 0.301) 52%,
      rgba(190, 170, 255, 0.249) 100%
    );
     filter: blur(60px);
  pointer-events: none;
}

.footer-container{
  padding: 2rem 4rem;
}

.item1{
  display: flex;
  justify-content:space-between ;
  font-family:  'Geist Mono', monospace;
  gap: 21px;
  align-items:center;
}

.item1 p{
  font-family:  'Geist Mono', monospace;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  width: 452px;
  border-bottom: 1px solid #FFFFFF3D;
  padding-bottom: 10px;
}

.item1 p:last-child{
  text-align: end;
}

.socials{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.socials a{
  display: flex;
  width: 65px;
  height: 37px;
  background-color: #3E3F46;
  align-items: center;
  justify-content: center;
  transform: skewX(-10deg);
  z-index: 1;
}

.socials a::after{
  position: absolute;
  content: '';
  inset: 0;
  background-color: transparent;
  transform: translate(4px, 4px);
  border-top: 1px solid #3E3F46;
  border-bottom: 1px solid #3E3F46;
  border-right: 1px solid #3E3F46;
  z-index: -1;
  
}

.socials img{
  transform: skewX(10deg)
}

.item2{
  margin-top: 20px;
  text-align: center;
}

.item2 p:first-child{
  font-family:  'Geist Mono', monospace;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 70%;
}

.item2 p:last-child{
  width: 1191px;
  font-family:  'Michroma', sans-serif;
  font-size: 178.4px;
  line-height: 223px;
  letter-spacing: -2.23px;
  -webkit-text-stroke: 2px #5b5c65;
  color: transparent;
 

}


/*Hover*/
@media (hover: hover) {

  .btn:hover {
    transform: skewX(-10deg) translate(3px, 3px);
  }

  .btn:hover::after {
    transform: translate(3px, 3px);
  }


  .project-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(255, 0, 0, 0.25);
    transform: translateY(-6px) scale(1.02);
  }

  .project-title:hover {
    color: #00dfc4; 
  }

  .socials a:hover {
    transform: skewX(-10deg) translate(2px, 2px);
  }

  .socials a:hover::after {
    transform: translate(2px, 2px);
  }

  
}

